.contactCard{
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    justify-content: center;
    color:black;
    font-family:'Courier New', Courier, monospace;
}
.contactContainer {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    align-items: center;
}

.contactContainer > * {
    display: block;
    margin: 10px auto; 
}
.refCard{
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    justify-content: center;
    color: white;
    border: 5px solid white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.refInfo{
    text-align: left;
    display: flex;
}
.refInfo p{
    width: 300px;
}