
.traitCard {
    border: 5px solid white;
    padding: 20px;
    border-radius: 10px;
    width: calc(25%);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More visible shadow */
}
.oneLine{
    color:white;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    margin-top: 20px;
}
.Ai-box {
    display: flex; 
    border: 5px solid white;
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    align-items: center; 
    padding: 0;
    height: 400px;
    background-color: #222629;
  }
  
  .sprite-box {
    width: auto;
    height: 100%;
  }
  
  .sprite-box img {
    width: auto;
    height: 100%;
    display: block; /* removes inline spacing */
    object-fit: contain;
    border-right: 5px solid white;
  }
  .chat-box {
    position: relative;
    display: flex;
    justify-content: center; 
    width: 100%;
    box-sizing: border-box;
    height:400px;
    border-right: 5px solid white; 
  }
  
  .message-area {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 80%;
    max-height: 6em; /* enough space for ~4 lines of text */
    overflow-y: auto; /* scroll if content exceeds height */
    line-height: 1.5em;
  }

  .message-area textarea {
    width:90%;
  }
  .message-area img {
    max-width: 8%;
    right: 0;
    max-height: 38px;
    cursor: pointer;
  }

  .chat-history {
    max-height: 350px;  /* or any height you want */
    overflow-y: auto;  
    width: 80%;
    color: white;
  }
  .user-message {
    align-self: flex-end;
    background-color:#6D7382  ;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 50%;
  }
  
  .ai-message {
    align-self: flex-start;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    white-space: pre-wrap;
  }
  .FAQs {
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding-top: 20px;
    height:400px;
    overflow-y: auto;  
  }
  .FAQs p {
    text-align: left;  
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom:  1px solid white;
  }
  .FAQs button {
    background: transparent;
    border: none;
    border-bottom: 3px solid white; /* or any color you want */
    color: white;
    padding: 0.5rem 1rem;
    width: 100%; /* optional: makes it full width */
    text-align: left; /* optional: aligns text to the left */
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }